/* general styles */

:root {
  --black: #121212;
  --white: #f2f2f2;
  --lt-grey: #c5c5c5;
  --red: #f24405;
  --lightred: #fb6b37;
  --main-font: "Open Sans", sans-serif;
  --accent-font: "Raleway", sans-serif;
  box-sizing: border-box;
  font-size: 1.2em;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.45;
  font-family: var(--main-font);
  background-color: var(--white);
  color: var(--black);
}

h1,
h2,
h3 {
  font-family: var(--accent-font);
}

h2 {
  font-size: 1.8rem;
  text-align: center;
}

h3 {
  margin: 0;
  font-size: 1em;
}

h1 {
  margin: 0;
  font-size: 2.6rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

section + section {
  margin-top: 5em;
}

.container {
  width: min(92%, 1200px);
  margin: 0 auto;
}

/* about section */

.about {
  padding-top: 2em;
  background: linear-gradient(-20deg, transparent 63%, #121212 0%);
}

.about__image {
  position: relative;
  width: 92%;
  margin: 0 auto;
}

.about__image figcaption {
  position: absolute;
  bottom: 0;
  color: var(--red);
  margin-left: 0.5em;
}

.social-nav ul,
.contact__socials {
  display: flex;
  justify-content: center;
  gap: 1.5em;
}

.social-nav a {
  font-size: 2rem;
}

.social-nav a:hover,
.card__info__links a:hover {
  color: var(--red);
}

/* work section */

.card {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.work .project + .project {
  margin-top: 2.5em;
}

.card__image {
  min-height: 250px;
  background-color: var(--lt-grey);
  text-transform: uppercase;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.card__info {
  margin: 0.8em 1em;
  padding-bottom: 2em;
}

.card__info p {
  font-size: 0.75rem;
}

.card__info__links {
  display: flex;
  gap: 1em;
}

/* contact section */
.contact {
  background-color: var(--black);
  color: var(--white);
  padding-top: 0.7em;
}

.contact address {
  font-style: normal;
  font-size: 0.75rem;
}

.contact span {
  display: block;
}

.contact__info__links {
  margin-top: 1.7em;
}

.contact__info__links a {
  display: flex;
  gap: 0.7em;
  align-items: center;
  margin-top: 0.4em;
}

.contact__socials {
  margin: 1.5em 0 3.5em;
}

.contact__socials a {
  font-size: 2.3rem;
  color: var(--red);
}

.contact__socials a:hover {
  color: var(--lightred);
}

/* tablet screen size */

@media (min-width: 37em) {
  /* general styles */

  h1 {
    font-size: 2.05rem;
  }

  h2 {
    text-align: left;
  }

  /* about */

  .about {
    background: linear-gradient(-15deg, transparent 40%, #121212 0%);
  }

  .about__image {
    width: 100%;
  }

  .about__image img {
    float: left;
    width: 55%;
    margin-right: 1.5em;
  }

  .about .container {
    display: flow-root;
  }

  .about__text {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    margin: 16% 0 0 8%;
    padding: 3em 1em 2.2em;
  }

  .about__text h2 {
    text-align: center;
  }

  .about__image figcaption {
    margin-top: 15px;
    top: 15%;
    left: 43%;
    width: max-content;
  }

  .social-nav ul {
    margin-top: 1em;
    justify-content: flex-end;
  }

  /* work */

  .work .projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 1.5em;
  }

  .work .project + .project {
    margin: 0;
  }

  /* contact section */

  .contact {
    padding-top: 2em;
  }

  .contact h2 {
    margin-top: 1.5em;
  }

  .contact-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .contact__info,
  .contact__image {
    flex-basis: 48%;
  }

  .contact__image img {
    height: 100%;
    object-fit: cover;
  }

  .contact__socials {
    justify-content: flex-start;
  }
}

/* desktop screen size */

@media (min-width: 56em) {
  /* general styles */

  h1 {
    font-size: 2.6em;
  }

  /* about */

  .about .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 35px 1fr 35px;
  }

  .about__image {
    grid-row: 1 / -1;
    grid-column: 1 / span 1;
  }

  .about__text {
    grid-row: 2 / -2;
    grid-column: 2 / span 2;
    padding: 1.5em 1em;
  }

  .about__text h2 {
    text-align: left;
  }

  .about__image img {
    float: none;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .about__image figcaption {
    bottom: 0;
    left: 0;
    top: unset;
    width: 100%;
  }

  .about__text {
    margin: 0;
  }

  /* work */

  .work .projects-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
